[Unit]
Description=arma3server
After=network.target

[Service]
User=arma3server
ExecStart=/home/arma3server/arma3server start
ExecStop=/home/arma3server/arma3server stop
WorkingDirectory=/home/arma3server

[Install]
WantedBy=multi-user.target