[Unit]
Description=arma3hc2
After=arma3server.service

[Service]
User=arma3server
ExecStart=/home/arma3server/arma3hc2 start
ExecStop=/home/arma3server/arma3hc2 stop
WorkingDirectory=/home/arma3server

[Install]
WantedBy=multi-user.target